{% extends 'manager_template/base_template.html' %}
{% load static %}
{% block page_header %}
Edit Attendance
{% endblock page_header %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible mb-3" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Attendance</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Session</label>
                    <select class="form-control" name="session">
                    {% for session in sessions %}
                      <option value="{{ session.id }}">{{ session.session_start_year|date:"d M Y"  }} - To - {{ session.session_end_year|date:"d M Y" }}</option>
                    {% endfor %}
                    </select>
                    </div>
                
                  <div class="form-group">
                    <label>Attendance Status</label>
                    {% if attendance.status %}
                    <input type="checkbox" name="attendance_status" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
                    {% else %}
                    <input type="checkbox" name="attendance_status" data-bootstrap-switch data-off-color="danger" data-on-color="success">
                    {% endif %}
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Edit Attendance</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

{% block custom_js %}
<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script>
    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });
</script>
{% endblock custom_js %}